<div class="contact-container">
  <div class="info-container">

    <div class="logo">
      <fa-icon [icon]="faDumbbell"></fa-icon>
      <h1>BEFIT</h1>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aperiam tempore quam. Aliquid culpa velit sed.
      Omnis mollitia ea labore?</p>

    <div class="box-info">
      <a
        href="https://www.google.ca/maps/place/Angus+Dr,+Toronto,+ON/@43.7889822,-79.3666036,17z/data=!3m1!4b1!4m5!3m4!1s0x89d4d2d8bb184c95:0x94368b7869b13b3b!8m2!3d43.7889783!4d-79.3644149">
        <fa-icon [icon]="faMapPin" [styles]="{ width: '16px', height: '16px'}"></fa-icon>
        <p>Address: 2946 Angus Road, ON</p>
      </a>

      <a href="tel+1123456789">
        <fa-icon [icon]="faPhone" [styles]="{ width: '16px', height: '16px' }"></fa-icon>
        <p>Phone: 123-456-789</p>
      </a>

      <a href="mailto:support@support.com">
        <fa-icon [icon]="faEnvelope" [styles]="{ width: '16px', height: '16px' }"></fa-icon>
        <p>Email: support@support.com</p>
      </a>
    </div>
    <h3>Follow us:</h3>
    <div class="social-box">

      <div class="icon-box">
        <a href="" class="up-icon">
          <fa-icon [icon]="faInstagram" [styles]="{ width: '40px', height: '40px'}"></fa-icon>
        </a>
        <p class="up-box">Instagram</p>
      </div>

      <div class="icon-box">
        <a href="" class="up-icon">
          <fa-icon [icon]="faFacebookF" [styles]="{ width: '40px', height: '40px'}"></fa-icon>
        </a>
        <p class="up-box">Facebook</p>
      </div>

      <div class="icon-box">
        <a href="" class="down-icon">
          <fa-icon [icon]="faLinkedinIn" [styles]="{ width: '40px', height: '40px'}"></fa-icon>
        </a>
        <p class="down-box">LinkedIn</p>
      </div>

      <div class="icon-box">
        <a href="" class="down-icon">
          <fa-icon [icon]="faTwitter" [styles]="{ width: '40px', height: '40px'}"></fa-icon>
        </a>
        <p class="down-box">Twitter</p>
      </div>
    </div>
  </div>

  <div class="time-table">
    <table>
      <tbody>
        <tr>
          <td>Monday</td>
          <td>6am - 10pm</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>6am - 10pm</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>6am - 10pm</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>6am - 10pm</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>6am - 10pm</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>6am - 10pm</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>Closed</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="contact-form-container">
    <h1>Do you have a question?</h1>
    <form>
      <input type="text" name="name" id="name" placeholder="Full Name">
      <input type="email" name="email" id="email" placeholder="Email">
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message.."></textarea>
      <input type="submit" value="Send">
    </form>
  </div>
</div>
