<div class="menu-wrapper">
  <input type="checkbox" id="check-menu" />
  <div class="menu-icon">
    <label for="check-menu" class="hamburger">
      <div class="bar-top"></div>
      <div class="bar-middle"></div>
      <div class="bar-bottom"></div>
    </label>
  </div>

  <div class="menu-option-box">
    <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#landing">Home</a>
    <a pageScroll [pageScrollOffset]="-5" pageScrollSpeed="2000" href="#about">About</a>
    <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#fitness-services">Services</a>
    <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#trainers">Trainers</a>
    <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#plans">Plans</a>
    <a pageScroll [pageScrollOffset]="65" pageScrollSpeed="2000" href="#contact">Contact</a>

  </div>

</div>
