@import "../../../shared-styles/utils.scss";

.bg-img {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-image: url("../../../assets/images/bg_landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment: fixed;
  // background-attachment: fixed !important;
  color: white;
  letter-spacing: 1px;

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.8rem;
    background: rgba(0, 0, 0, 0.4);

    .logo {
      display: flex;
      align-items: center;
      margin-right: auto;

      .ng-fa-icon {
        margin-right: 0.6rem;
        font-size: 2rem;
      }
    }

    .menu a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 0.8rem;
      font-weight: 600;
      font-size: 1.25rem;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to right, $darkRed 50%, white 50%);
      background-size: 200% 100%;
      background-position: 100%;
      transition: all 0.4s cubic-bezier(0, 0, 0.23, 1);

      &:hover {
        color: $darkRed;
        background-position: 0;
      }
    }
  }

  .intro-container {
    // position: absolute;
    // top: 0;
    // height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0.8rem;

    .intro-content {
      max-width: 620px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.7);
      padding: 4em;

      animation: shape 3s linear infinite alternate;

      @keyframes shape {
        0% {
          border-radius: 30% 60% 43% 57% / 26% 46% 54%;
        }

        100% {
          border-radius: 20% 80% 70% 40% / 30% 52% 48%;
        }
      }

      h1 {
        font-size: 4rem;
        margin-bottom: 3.5rem;

        span {
          color: $darkRed;
        }
      }

      .btn-intro {
        position: relative;
        color: white;
        text-decoration: none;
        padding: 1rem 1.5rem;
        border: 3px solid $darkRed;
        font-weight: 600;

        transition: all 200ms ease-in-out 0.25s;

        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: -10px;
          border: 3px solid $darkRed;
          height: 100%;
          width: 100%;
          transition: all 250ms linear;
          // background: blue;
        }

        &:hover::before {
          top: -2px;
          left: -2.5px;
        }

        &:hover {
          background-color: $darkRed;
        }
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .bg-img .header .menu {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .bg-img .intro-container .intro-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  .bg-img .intro-container .intro-content h1 {
    font-size: 2.8rem;
  }
}
