<div class="bg-img">
  <div class="header">
    <div class="logo">
      <fa-icon [icon]="faDumbbell"></fa-icon>
      <h1>BEFIT</h1>
    </div>
    <div class="menu">
      <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#landing" >Home</a>
      <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#about">About</a>
      <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#fitness-services">Services</a>
      <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#trainers">Trainers</a>
      <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#plans">Plans</a>
      <a pageScroll [pageScrollOffset]="0" pageScrollSpeed="2000" href="#contact">Contact</a>
    </div>
  </div>

  <div class="intro-container">
    <div class="intro-content">
      <h1><span>The Best </span>Fitness Center In The Town</h1>
      <a href="" class="btn-intro">Discover More</a>
    </div>
  </div>
</div>
