<div class="bg-img">
  <div class="header">
    <div class="logo">
      <fa-icon [icon]="faDumbbell"></fa-icon>
      <h1>BEFIT</h1>
    </div>
    <div class="menu">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Services</a>
      <a href="">Trainers</a>
      <a href="">Plans</a>
      <a href="">Contact</a>
    </div>
  </div>

  <div class="intro-container">
    <div class="intro-content">
      <h1><span>The Best </span>Fitness Center In The Town</h1>
      <a href="" class="btn-intro">Discover More</a>
    </div>
  </div>
</div>
