<div class="bg-img-service">
  <h1>Our Services</h1>
  <div class="service-pos">
    <div class="service-container">

      <div class="service-block">
        <div class="flip-block">
          <div class="front">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FServices%2Fpsycho_training.jpg?alt=media&token=41fa7d54-fabd-4b52-a8f9-bfdcf85ec6a6"
              alt="Psycho Training">
            <h3>Psycho Training</h3>
          </div>
          <div class="back">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure perspiciatis quam autem eos corporis ex
              provident! Ad voluptas labore ex?</p>
          </div>
        </div>
      </div>


      <div class="service-block">
        <div class="flip-block">
          <div class="front">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FServices%2Fself_defense.jpg?alt=media&token=1fc79209-02b9-40d4-96e9-0841d625afef"
              alt="Self Defence">
            <h3>Self Defence</h3>
          </div>
          <div class="back">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure perspiciatis quam autem eos corporis ex
              provident! Ad voluptas labore ex?</p>
          </div>
        </div>
      </div>


      <div class="service-block">
        <div class="flip-block">
          <div class="front">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FServices%2Fyoga.jpg?alt=media&token=cbe9610c-5d82-4eb8-9c3e-920cf14fb705"
              alt="Yoga">
            <h3>Yoga</h3>
          </div>
          <div class="back">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure perspiciatis quam autem eos corporis ex
              provident! Ad voluptas labore ex?</p>
          </div>
        </div>
      </div>


      <div class="service-block">
        <div class="flip-block">
          <div class="front">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FServices%2Fboxing.jpg?alt=media&token=d2f1d209-36c7-401f-8230-8166c79d6f81"
              alt="Boxing">
            <h3>Boxing</h3>
          </div>
          <div class="back">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure perspiciatis quam autem eos corporis ex
              provident! Ad voluptas labore ex?</p>
          </div>
        </div>
      </div>

      <div class="service-block">
        <div class="flip-block">
          <div class="front">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FServices%2Fcardio_training.jpg?alt=media&token=bf379046-3734-4fd8-9bd8-e18536264f48"
              alt="Cardio Training">
            <h3>Cardio Training</h3>
          </div>
          <div class="back">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure perspiciatis quam autem eos corporis ex
              provident! Ad voluptas labore ex?</p>
          </div>
        </div>
      </div>


      <div class="service-block">
        <div class="flip-block">
          <div class="front">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FServices%2Fnutrition_advice.jpg?alt=media&token=59974f38-5380-4224-9912-b792c147f280"
              alt="Nutrition Advice">
            <h3>Nutrition Advice</h3>
          </div>
          <div class="back">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure perspiciatis quam autem eos corporis ex
              provident! Ad voluptas labore ex?</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
