<div class="bg-img-service">

  <h1>Our Services</h1>

  <div class="service-pos">
    <div class="service-container">

      <div class="service-block" *ngFor="let service of services">
        <div class="flip-block">
          <div class="front">
            <img src={{service.ImageSrc}} alt={{service.Title}}>
            <h3>{{service.Title}}</h3>
          </div>
          <div class="back">
            <p>{{service.Info}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
