<div class="about-container">
  <div class="images">
    <img class="back"
      src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FAbout%2Fabout_one.png?alt=media&token=c430a984-431a-4a6d-b65e-62e017dd89cb"
      alt="body-builder-one">
    <img class="front"
      src="https://firebasestorage.googleapis.com/v0/b/befit-96585.appspot.com/o/Images%2FAbout%2Fabout_two.png?alt=media&token=441a2ffc-ee5a-487a-bf1a-3faad0799d04"
      alt="body-builder-two">
  </div>
  <div class="content">
    <h1>Why chose us? Since we are the best.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur possimus nihil perferendis quibusdam
      provident sequi inventore corporis quisquam. Ab corrupti fuga voluptatem eligendi sit dolore nisi placeat! Aperiam
      numquam dolorem amet quaerat assumenda, quasi repudiandae consequatur est distinctio reprehenderit sunt corporis,
      iure laboriosam doloribus recusandae delectus quos dolore quidem nisi?</p>
  </div>
</div>
